__pycache__/
*.pyc
*.pyo
*.so
*.o
*.egg-info/
build/
*.ipynb_checkpoints/

# Ignore all models directories (except source code)
models/
!lib/trellis/models/
!lib/hy3dshape/hy3dshape/models/

# Ignore model weight files everywhere
*.pth
*.pt
*.ckpt
*.safetensors
*.bin
*.weights
*.h5
*.onnx
*.pb

# Ignore training data
*.npz
